
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using CarWorkshop.Data
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization 
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext Context

@inject IViewLocalizer ViewLocalizer


<div class="text-center">
    @if (User.IsInRole("Customer"))
    {
        <h2>
            <a asp-controller="Car"
               asp-action="Create">
                @ViewLocalizer["AddMessage"]
            </a>
        </h2>

        <h2>
            <a asp-controller="ApplicationUser"
               asp-action="Cars">
                @ViewLocalizer["CheckMessage"]
            </a>
        </h2>
    }

    @if (User.IsInRole("Mechanic"))
    {
        <h2>@ViewLocalizer["YouHave"] @Context.Cars.Where(c => c.Repaired == false).Count() @ViewLocalizer["CarWaitMessage"]</h2>
        <h3>
            <a asp-controller="Car"
               asp-action="Index">
                @ViewLocalizer["ReviewMessage"]
            </a>
        </h3>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $.noConflict();
        $(function () {
            $("#datepicker").datepicker();

        });
    </script>
}
