
@model List<Car>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@{
    <div class="d-flex flex-column font-weight-bold">
        <div>@ViewLocalizer["amount"] </div>
        <div id="progressbar" class="mb-4" data-value="@ViewData["AmountOfRepairedCars"]"></div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@ViewLocalizer["brand"]</th>
                <th scope="col">@ViewLocalizer["plates"]</th>
                <th scope="col">@ViewLocalizer["status"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Car car in Model)
            {
                <tr>
                    <td>@car.Brand</td>
                    <td>@car.Plates</td>
                    @if (car.Repaired == true)
                    {
                        <td>
                            <form asp-controller="Car" asp-action="Delete" method="POST">
                                <input type="hidden" name="Id" value="@car.Id" />
                                <button type="submit" class="btn btn-success">
                                    @ViewLocalizer["claim"]
                                </button>
                            </form>
                        </td>
                    }
                    else
                    {
                <td class="text-danger">@ViewLocalizer["progress"]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <script>
        $.noConflict();
        $(function () {
            var bar = document.getElementById("progressbar");
            var valueString = bar.getAttribute("data-value");
            var valueNumber = parseFloat(valueString);
            $("#progressbar").progressbar({
                value: valueNumber
            });
        });
    </script>
}
